<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Fri Feb 17 2017 18:26:02 GMT+0000 (UTC)  -->
<html data-wf-page="589a16a41c4e926c434741de" data-wf-site="58197652a4bfa69a4deda4cc">
<head>
    <meta charset="utf-8">
    <title>Star Assurance E-Insurance | Buy, Renew &amp; Claim insurance policies online</title>
    <meta content="Star Assurance E-Insurance | Buy, Renew &amp; Claim insurance policies online" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Webflow" name="generator">
    <link href="~/Content/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/webflow.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/star-webapp.webflow.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Roboto:300,regular,500,700"]
      }
    });
    </script>
    <script src="~/Scripts/js/modernizr.js" type="text/javascript"></script>
    <link href="~/Content/images/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="~/Content/images/fav-1.png" rel="apple-touch-icon">
</head>
<body>
    <div class="smnavbar w-nav" data-animation="over-left" data-collapse="medium" data-duration="400">
        <nav class="sm-navmenu w-nav-menu" role="navigation">
            <a class="sm-brand w-inline-block" href="#">
                <img src="~/Content/images/star-portal-logo.png" width="200">
            </a>
            <a class="sm-menu-link w-inline-block" href="account_profile">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">Profile</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="Dashboard">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">Dashboard</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="buy_new_policy">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">Modify Policy</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="buy_new_policy">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">File a Claim</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="frequently_asked_questions">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">Add Existing Policy</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="frequently_asked_questions">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">Star Lifestyle</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="payment_details">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">Payment Details</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="frequently_asked_questions">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">FAQ</div>
            </a>
        </nav>
        <div class="w-container">
            <div class="sm-menu-button w-nav-button">
                <div class="sm-nav-icon w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <div class="sm-body">
        <div class="sm-header">
            <div class="sm-menu-hide-button w-hidden-medium w-hidden-small w-hidden-tiny" data-ix="navbar-collapse">
                <img src="~/Content/images/menu-bars-1.png" width="20">
            </div>
            <div class="header-right-container">
                <div class="sm-brand-img-mobile w-hidden-main">
                    <img src="~/Content/images/star-portal-logo-red.png" width="140">
                </div>
                <div class="dash-profile-holder">
                    <div class="side-dropdown-menu w-dropdown" data-delay="0">
                        <div class="side-dropdown-toggle w-dropdown-toggle">
                            <img class="profile-drop-icon" src="~/Content/images/ic_keyboard_arrow_down_white_48px.svg" width="24"><img class="profile-header-img" src="~/Content/images/Kojo-Oscarr.png" width="195">
                        </div>
                        <nav class="side-dropdown-menu-list w-dropdown-list">
                            <a class="side-menu-drop-link w-dropdown-link" href="account-profile.html">Profile</a><a class="side-menu-drop-link w-dropdown-link" href="#">Edit Profile</a><a class="side-menu-drop-link w-dropdown-link" href="#">Feedback</a><a class="side-menu-drop-link w-dropdown-link" href="#">Branches</a><a class="side-menu-drop-link w-dropdown-link" href="#">Logout</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="sm-content">
            <div class="dashboard-topbar">
                <h2 class="dashboard-header">Hello there! <span>Kojo E. Oscarr</span></h2>
            </div>
            <div class="clear-dashboard-content-wrapper">
                <div class="profile-page-img-holder">
                    <img src="~/Content/images/Kojo-Oscarr.png" width="195">
                    <div class="task-wrapper">
                        <div>Edit image</div>
                        <div class="grey-icon tab-icons"></div>
                    </div>
                </div>
                <div class="customer-info-wrapper dashboard-content-wrapper">
                    <div class="w-form">
                        <div class="form-legend">Personal Details</div>
                        <form data-name="Email Form" id="email-form" name="email-form">
                            <div class="w-row">
                                <div class="form-column-left w-col w-col-6">
                                    <label class="login-form-label" for="First-name">First name:</label>
                                    <input class="form-field w-input" data-name="First name" id="First-name" maxlength="256" name="First-name" placeholder="Emmanuel" type="text">
                                </div>
                                <div class="form-column-right w-col w-col-6">
                                    <label class="login-form-label" for="Last-name">Last name:</label>
                                    <input class="form-field w-input" data-name="Last name" id="Last-name" maxlength="256" name="Last-name" placeholder="Oscarr" required="required" type="text">
                                </div>
                            </div>
                            <div class="w-row">
                                <div class="form-column-left w-col w-col-4">
                                    <label class="login-form-label" for="Date-of-Birth">Date of Birth:</label>
                                    <input class="form-field w-input" data-name="Date of Birth" id="Date-of-Birth" maxlength="256" name="Date-of-Birth" placeholder="3rd July 1989" type="text">
                                </div>
                                <div class="form-column-center w-col w-col-4">
                                    <label class="login-form-label" for="Marital-Status">Marital Status</label>
                                    <select class="form-field w-select" data-name="Marital Status" id="Marital-Status" name="Marital-Status">
                                        <option value="Select status">Select status</option>
                                        <option value="Separated">Separated</option>
                                        <option value="Married">Married</option>
                                        <option value="Single">Single</option>
                                        <option value="Widow(er)">Widow(er)</option>
                                    </select>
                                </div>
                                <div class="form-column-right w-col w-col-4">
                                    <label class="login-form-label" for="Gender">Gender</label>
                                    <select class="form-field w-select" data-name="Gender" id="Gender" name="Gender">
                                        <option value="Select gender">Select gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="w-row">
                                <div class="form-column-left w-col w-col-4">
                                    <label class="login-form-label" for="ID-Number">ID Number</label>
                                    <input class="form-field w-input" data-name="ID Number" id="ID-Number" maxlength="256" name="ID-Number" placeholder="H2300748" type="text">
                                </div>
                                <div class="form-column-center w-col w-col-4">
                                    <label class="login-form-label" for="Marital-Status-3">ID type:</label>
                                    <select class="form-field w-select" data-name="Marital Status 3" id="Marital-Status-3" name="Marital-Status-3">
                                        <option value="Select ID type">Select ID type</option>
                                        <option value="Passport">Passport</option>
                                        <option value="Voters Card">Voters Card</option>
                                        <option value="Drivers Licence">Drivers Licence</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="form-column-right w-col w-col-4">
                                    <label class="login-form-label" for="Next-of-Kin">Next of Kin</label>
                                    <input class="form-field w-input" data-name="Next of Kin" id="Next-of-Kin" maxlength="256" name="Next-of-Kin" placeholder="Zoe Oscarr" type="text">
                                </div>
                            </div>
                            <div class="w-row">
                                <div class="form-column-left w-col w-col-6">
                                    <label class="login-form-label" for="Phone">Phone number</label>
                                    <input class="form-field w-input" data-name="Phone" id="Phone" maxlength="256" name="Phone" placeholder="Enter your phone number" type="text">
                                </div>
                                <div class="form-column-right w-col w-col-6">
                                    <label class="login-form-label" for="Email-5">Email Address:</label>
                                    <input class="form-field w-input" data-name="Email" id="Email-5" maxlength="256" name="Email" placeholder="kojo@oscarr.org" type="email">
                                </div>
                            </div>
                            <label class="login-form-label" for="field">Address:</label>
                            <textarea class="form-field multitext w-input" id="field" maxlength="5000" name="field" placeholder="Royal Plaza, N4 North, Adenta East, Accra"></textarea>
                            <div class="spacer"></div>
                            <div class="form-legend">Employment Details</div>
                            <div class="w-row">
                                <div class="form-column-left w-col w-col-4">
                                    <label class="login-form-label" for="Occupation">Occupation</label>
                                    <input class="form-field w-input" data-name="Occupation" id="Occupation" maxlength="256" name="Occupation" placeholder="Happiness Specialist" type="text">
                                </div>
                                <div class="form-column-center w-col w-col-4">
                                    <label class="login-form-label" for="Employer">Employer</label>
                                    <input class="form-field w-input" data-name="Employer" id="Employer" maxlength="256" name="Employer" placeholder="HODA Holdings" type="text">
                                </div>
                                <div class="form-column-right w-col w-col-4">
                                    <label class="login-form-label" for="Position">Position</label>
                                    <input class="form-field w-input" data-name="Position" id="Position" maxlength="256" name="Position" placeholder="Chief Happiness Giver" type="text">
                                </div>
                            </div>
                            <input class="button w-button" data-wait="Please wait..." type="submit" value="SAVE">
                        </form>
                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script src="js/webflow.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>