<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Fri Feb 17 2017 18:26:02 GMT+0000 (UTC)  -->
<html data-wf-page="589a16a41c4e926c434741de" data-wf-site="58197652a4bfa69a4deda4cc">
<head>
    <meta charset="utf-8">
    <title>Star Assurance E-Insurance | Buy, Renew &amp; Claim insurance policies online</title>
    <meta content="Star Assurance E-Insurance | Buy, Renew &amp; Claim insurance policies online" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Webflow" name="generator">
    <link href="~/Content/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/webflow.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/star-webapp.webflow.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Roboto:300,regular,500,700"]
      }
    });
    </script>
    <script src="~/Scripts/js/modernizr.js" type="text/javascript"></script>
    <link href="~/Content/images/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="~/Content/images/fav-1.png" rel="apple-touch-icon">
</head>
<body>
    <div class="smnavbar w-nav" data-animation="over-left" data-collapse="medium" data-duration="400">
        <nav class="sm-navmenu w-nav-menu" role="navigation">
            <a class="sm-brand w-inline-block" href="#">
                <img src="~/Content/images/star-portal-logo.png" width="200">
            </a>
            <a class="sm-menu-link w-inline-block" href="account_profile">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">Profile</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="Dashboard">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">Dashboard</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="buy_new_policy">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">Modify Policy</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="buy_new_policy">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">File a Claim</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="frequently_asked_questions">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">Add Existing Policy</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="frequently_asked_questions">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">Star Lifestyle</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="payment_details">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">Payment Details</div>
            </a>
            <a class="sm-menu-link w-inline-block" href="frequently_asked_questions">
                <div class="sm-menu-link-icon">
                    <div class="tab-icons"></div>
                </div>
                <div class="sm-link-text" id="Nav-Link-Text">FAQ</div>
            </a>
        </nav>
        <div class="w-container">
            <div class="sm-menu-button w-nav-button">
                <div class="sm-nav-icon w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <div class="sm-body">
        <div class="sm-header">
            <div class="sm-menu-hide-button w-hidden-medium w-hidden-small w-hidden-tiny" data-ix="navbar-collapse">
                <img src="~/Content/images/menu-bars-1.png" width="20">
            </div>
            <div class="header-right-container">
                <div class="sm-brand-img-mobile w-hidden-main">
                    <img src="~/Content/images/star-portal-logo-red.png" width="140">
                </div>
                <div class="dash-profile-holder">
                    <div class="side-dropdown-menu w-dropdown" data-delay="0">
                        <div class="side-dropdown-toggle w-dropdown-toggle">
                            <img class="profile-drop-icon" src="~/Content/images/ic_keyboard_arrow_down_white_48px.svg" width="24"><img class="profile-header-img" src="~/Content/images/Kojo-Oscarr.png" width="195">
                        </div>
                        <nav class="side-dropdown-menu-list w-dropdown-list">
                            <a class="side-menu-drop-link w-dropdown-link" href="account-profile.html">Profile</a><a class="side-menu-drop-link w-dropdown-link" href="#">Edit Profile</a><a class="side-menu-drop-link w-dropdown-link" href="#">Feedback</a><a class="side-menu-drop-link w-dropdown-link" href="#">Branches</a><a class="side-menu-drop-link w-dropdown-link" href="#">Logout</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="sm-content">
            <div class="dashboard-topbar">
                <div class="header-row w-row">
                    <div class="w-col w-col-3 w-col-medium-6">
                        <a class="header-box w-inline-block" href="#">
                            <div class="header-box-sub">Hi Kojo</div>
                            <div class="dash-figures">Welcome</div>
                        </a>
                    </div>
                    <div class="w-col w-col-3 w-col-medium-6">
                        <a class="header-box w-inline-block" href="#">
                            <div class="header-box-sub">NOTIFICATIONS</div>
                            <div class="dash-figures">2</div>
                        </a>
                    </div>
                    <div class="w-col w-col-3 w-col-medium-6">
                        <a class="header-box w-inline-block" href="#">
                            <div class="header-box-sub">WEEKLY LIFESTYLE DEAL</div>
                            <div class="deals trending-news-small-holder">
                                <h2 class="iphone-price">GH1700</h2><img sizes="(max-width: 479px) 100vw, (max-width: 991px) 150px, 11vw" src="~/Content/images/IPhone-PNG-Picture-PNG-Image.png" srcset="~/Content/images/IPhone-PNG-Picture-PNG-Image-p-500x282.png 500w, ~/Content/images/IPhone-PNG-Picture-PNG-Image-p-800x450.png 800w, ~/Content/images/IPhone-PNG-Picture-PNG-Image-p-1080x608.png 1080w, ~/Content/images/IPhone-PNG-Picture-PNG-Image-p-1600x900.png 1600w, ~/Content/images/IPhone-PNG-Picture-PNG-Image.png 1920w" width="150">
                            </div>
                        </a>
                    </div>
                    <div class="w-col w-col-3 w-col-medium-6">
                        <a class="header-box w-inline-block" href="#">
                            <div class="header-box-sub">TRENDING NEWS</div>
                            <div class="trending-news-small-holder">
                                <div class="small-news-img-holder"></div>
                                <div>
                                    <div>UniBank acquires Ecobank Transnational</div>
                                    <div class="read-more">read more</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="dash-transaction-section">
                <h4 class="sub-section-header">Transaction Overview</h4>
                <div class="line-separator-holder">
                    <div class="line-separator"></div>
                    <div class="line-separator-thick"></div>
                </div>
                <div class="transaction-table">
                    <div class="table-head w-clearfix">
                        <div class="table-head-column">
                            <div>POLICY NO</div>
                        </div>
                        <div class="customer-name-column">
                            <div>Customer Name</div>
                        </div>
                        <div class="cover-type-column">
                            <div>Cover Type</div>
                        </div>
                        <div class="premium">
                            <div>Premium</div>
                        </div>
                        <div class="policy-status">
                            <div>Status</div>
                        </div>
                        <div class="policy-actions">
                            <div>Actions</div>
                        </div>
                    </div>
                    <div class="table-data-row">
                        <div class="table-data-column">
                            <div>UNASSIGNED</div>
                        </div>
                        <div class="customer-name-column table-data-column">
                            <div>MR. KOJO OSCARR</div>
                        </div>
                        <div class="cover-type-column table-data-column">
                            <div>MOTOR INSURANCE</div>
                        </div>
                        <div class="premium table-data-column">
                            <div>GHS 0.00</div>
                        </div>
                        <div class="policy-status table-data-column">
                            <div class="policy-status-state">INCOMPLETE</div>
                        </div>
                        <div class="policy-actions table-data-column">
                            <a class="view-policy-details" href="#">VIEW DETAILS</a>
                        </div>
                    </div>
                    <div class="table-data-row">
                        <div class="table-alt table-data-column">
                            <div>UNASSIGNED</div>
                        </div>
                        <div class="customer-name-column table-alt table-data-column">
                            <div>MR. KOJO OSCARR</div>
                        </div>
                        <div class="cover-type-column table-alt table-data-column">
                            <div>MOTOR INSURANCE</div>
                        </div>
                        <div class="premium table-alt table-data-column">
                            <div>GHS 0.00</div>
                        </div>
                        <div class="policy-status table-alt table-data-column">
                            <div class="active-state policy-status-state">ACTIVE</div>
                        </div>
                        <div class="policy-actions table-alt table-data-column">
                            <a class="view-policy-details" href="#">VIEW DETAILS</a>
                        </div>
                    </div>
                    <div class="table-data-row">
                        <div class="table-data-column">
                            <div>UNASSIGNED</div>
                        </div>
                        <div class="customer-name-column table-data-column">
                            <div>MR. KOJO OSCARR</div>
                        </div>
                        <div class="cover-type-column table-data-column">
                            <div>MOTOR INSURANCE</div>
                        </div>
                        <div class="premium table-data-column">
                            <div>GHS 0.00</div>
                        </div>
                        <div class="policy-status table-data-column">
                            <div class="expired-status policy-status-state">expired</div>
                        </div>
                        <div class="policy-actions table-data-column">
                            <a class="view-policy-details" href="#">VIEW DETAILS</a>
                        </div>
                    </div>
                    <div class="table-data-row">
                        <div class="table-alt table-data-column">
                            <div>UNASSIGNED</div>
                        </div>
                        <div class="customer-name-column table-alt table-data-column">
                            <div>MR. KOJO OSCARR</div>
                        </div>
                        <div class="cover-type-column table-alt table-data-column">
                            <div>MOTOR INSURANCE</div>
                        </div>
                        <div class="premium table-alt table-data-column">
                            <div>GHS 0.00</div>
                        </div>
                        <div class="policy-status table-alt table-data-column">
                            <div class="active-state policy-status-state">active</div>
                        </div>
                        <div class="policy-actions table-alt table-data-column">
                            <a class="view-policy-details" href="#">VIEW DETAILS</a>
                        </div>
                    </div>
                    <div class="table-data-row">
                        <div class="table-data-column">
                            <div>UNASSIGNED</div>
                        </div>
                        <div class="customer-name-column table-data-column">
                            <div>MR. KOJO OSCARR</div>
                        </div>
                        <div class="cover-type-column table-data-column">
                            <div>MOTOR INSURANCE</div>
                        </div>
                        <div class="premium table-data-column">
                            <div>GHS 0.00</div>
                        </div>
                        <div class="policy-status table-data-column">
                            <div class="expired-status policy-status-state">expired</div>
                        </div>
                        <div class="policy-actions table-data-column">
                            <a class="view-policy-details" href="#">VIEW DETAILS</a>
                        </div>
                    </div>
                    <div class="table-data-row">
                        <div class="table-alt table-data-column">
                            <div>UNASSIGNED</div>
                        </div>
                        <div class="customer-name-column table-alt table-data-column">
                            <div>MR. KOJO OSCARR</div>
                        </div>
                        <div class="cover-type-column table-alt table-data-column">
                            <div>MOTOR INSURANCE</div>
                        </div>
                        <div class="premium table-alt table-data-column">
                            <div>GHS 0.00</div>
                        </div>
                        <div class="policy-status table-alt table-data-column">
                            <div class="active-state policy-status-state">active</div>
                        </div>
                        <div class="policy-actions table-alt table-data-column">
                            <a class="view-policy-details" href="#">VIEW DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="transact-section">
                <div class="transact-tab w-tabs" data-duration-in="300" data-duration-out="100">
                    <div class="transact-tabs-menu w-tab-menu">
                        <a class="transact-tab-link w--current w-inline-block w-tab-link" data-w-tab="Buy New Policy">
                            <div>Buy New Policy</div>
                        </a>
                        <a class="transact-tab-link w-inline-block w-tab-link" data-w-tab="Add Existing Policy">
                            <div>Add Existing Policy</div>
                        </a>
                        <a class="transact-tab-link w-inline-block w-tab-link" data-w-tab="Renew Policy">
                            <div>Renew Policy</div>
                        </a>
                        <a class="transact-tab-link w-inline-block w-tab-link" data-w-tab="Submit Claim">
                            <div>Submit a Claim</div>
                        </a>
                    </div>
                    <div class="w-tab-content">
                        <div class="transact-tab-pane w--tab-active w-tab-pane" data-w-tab="Buy New Policy">
                            <p class="section-sub-paragraph">Buy a new insurance policy personally or on behalf of a third-party is simple. Please complete the form below and select policy type to continue.</p>
                            <div>
                                <div class="w-form">
                                    <form data-name="Email Form 2" id="email-form-2" name="email-form-2">
                                        <label for="name">Name:</label>
                                        <input class="w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="Enter your name" type="text">
                                        <label for="email-6">Email Address:</label>
                                        <input class="w-input" data-name="Email 6" id="email-6" maxlength="256" name="email" placeholder="Enter your email address" required="required" type="email">
                                        <input class="w-button" data-wait="Please wait..." type="submit" value="Submit">
                                    </form>
                                    <div class="w-form-done">
                                        <div>Thank you! Your submission has been received!</div>
                                    </div>
                                    <div class="w-form-fail">
                                        <div>Oops! Something went wrong while submitting the form</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="transact-tab-pane w-tab-pane" data-w-tab="Add Existing Policy">
                            <div class="w-form">
                                <p class="section-sub-paragraph">Buy a new insurance policy personally or on behalf of a third-party is simple. Please complete the form below and select policy type to continue.</p>
                                <div class="form-legend">Personal Details</div>
                                <form data-name="Email Form" id="email-form" name="email-form">
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-6">
                                            <label class="login-form-label" for="First-name-3">First name:</label>
                                            <input class="form-field w-input" data-name="First Name 3" id="First-name-3" maxlength="256" name="First-name-3" placeholder="Emmanuel" type="text">
                                        </div>
                                        <div class="form-column-right w-col w-col-6">
                                            <label class="login-form-label" for="Last-name-3">Last name:</label>
                                            <input class="form-field w-input" data-name="Last Name 3" id="Last-name-3" maxlength="256" name="Last-name-3" placeholder="Oscarr" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-4">
                                            <label class="login-form-label" for="Date-of-Birth-3">Date of Birth:</label>
                                            <input class="form-field w-input" data-name="Date Of Birth 3" id="Date-of-Birth-3" maxlength="256" name="Date-of-Birth-3" placeholder="3rd July 1989" type="text">
                                        </div>
                                        <div class="form-column-center w-col w-col-4">
                                            <label class="login-form-label" for="Marital-Status-6">Marital Status</label>
                                            <select class="form-field w-select" data-name="Marital Status 6" id="Marital-Status-6" name="Marital-Status-6">
                                                <option value="Select status">Select status</option>
                                                <option value="Separated">Separated</option>
                                                <option value="Married">Married</option>
                                                <option value="Single">Single</option>
                                                <option value="Widow(er)">Widow(er)</option>
                                            </select>
                                        </div>
                                        <div class="form-column-right w-col w-col-4">
                                            <label class="login-form-label" for="Gender-3">Gender</label>
                                            <select class="form-field w-select" data-name="Gender 3" id="Gender-3" name="Gender-3">
                                                <option value="Select gender">Select gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-4">
                                            <label class="login-form-label" for="ID-Number-3">ID Number</label>
                                            <input class="form-field w-input" data-name="Id Number 3" id="ID-Number-3" maxlength="256" name="ID-Number-3" placeholder="H2300748" type="text">
                                        </div>
                                        <div class="form-column-center w-col w-col-4">
                                            <label class="login-form-label" for="Marital-Status-7">ID type:</label>
                                            <select class="form-field w-select" data-name="Marital Status 7" id="Marital-Status-7" name="Marital-Status-7">
                                                <option value="Select ID type">Select ID type</option>
                                                <option value="Passport">Passport</option>
                                                <option value="Voters Card">Voters Card</option>
                                                <option value="Drivers Licence">Drivers Licence</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-column-right w-col w-col-4">
                                            <label class="login-form-label" for="Next-of-Kin-3">Next of Kin</label>
                                            <input class="form-field w-input" data-name="Next Of Kin 3" id="Next-of-Kin-3" maxlength="256" name="Next-of-Kin-3" placeholder="Zoe Oscarr" type="text">
                                        </div>
                                    </div>
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-6">
                                            <label class="login-form-label" for="Phone-3">Phone number</label>
                                            <input class="form-field w-input" data-name="Phone 3" id="Phone-3" maxlength="256" name="Phone-3" placeholder="Enter your phone number" type="text">
                                        </div>
                                        <div class="form-column-right w-col w-col-6">
                                            <label class="login-form-label" for="Email-5">Email Address:</label>
                                            <input class="form-field w-input" data-name="Email" id="Email-5" maxlength="256" name="Email" placeholder="kojo@oscarr.org" type="email">
                                        </div>
                                    </div>
                                    <label class="login-form-label" for="field-3">Address:</label>
                                    <textarea class="form-field multitext w-input" data-name="Field 3" id="field-3" maxlength="5000" name="field-3" placeholder="Royal Plaza, N4 North, Adenta East, Accra"></textarea>
                                    <div class="spacer"></div>
                                    <div class="form-legend">Employment Details</div>
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-4">
                                            <label class="login-form-label" for="Occupation-3">Occupation</label>
                                            <input class="form-field w-input" data-name="Occupation 3" id="Occupation-3" maxlength="256" name="Occupation-3" placeholder="Happiness Specialist" type="text">
                                        </div>
                                        <div class="form-column-center w-col w-col-4">
                                            <label class="login-form-label" for="Employer-3">Employer</label>
                                            <input class="form-field w-input" data-name="Employer 3" id="Employer-3" maxlength="256" name="Employer-3" placeholder="HODA Holdings" type="text">
                                        </div>
                                        <div class="form-column-right w-col w-col-4">
                                            <label class="login-form-label" for="Position-3">Position</label>
                                            <input class="form-field w-input" data-name="Position 3" id="Position-3" maxlength="256" name="Position-3" placeholder="Chief Happiness Giver" type="text">
                                        </div>
                                    </div>
                                    <input class="button w-button" data-wait="Please wait..." type="submit" value="SAVE">
                                </form>
                                <div class="w-form-done">
                                    <div>Thank you! Your submission has been received!</div>
                                </div>
                                <div class="w-form-fail">
                                    <div>Oops! Something went wrong while submitting the form</div>
                                </div>
                            </div>
                        </div>
                        <div class="transact-tab-pane w-tab-pane" data-w-tab="Renew Policy">
                            <div class="w-form">
                                <p class="section-sub-paragraph">Buy a new insurance policy personally or on behalf of a third-party is simple. Please complete the form below and select policy type to continue.</p>
                                <div class="form-legend">Personal Details</div>
                                <form data-name="Email Form" id="email-form" name="email-form">
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-6">
                                            <label class="login-form-label" for="First-name-4">First name:</label>
                                            <input class="form-field w-input" data-name="First Name 4" id="First-name-4" maxlength="256" name="First-name-4" placeholder="Emmanuel" type="text">
                                        </div>
                                        <div class="form-column-right w-col w-col-6">
                                            <label class="login-form-label" for="Last-name-4">Last name:</label>
                                            <input class="form-field w-input" data-name="Last Name 4" id="Last-name-4" maxlength="256" name="Last-name-4" placeholder="Oscarr" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-4">
                                            <label class="login-form-label" for="Date-of-Birth-4">Date of Birth:</label>
                                            <input class="form-field w-input" data-name="Date Of Birth 4" id="Date-of-Birth-4" maxlength="256" name="Date-of-Birth-4" placeholder="3rd July 1989" type="text">
                                        </div>
                                        <div class="form-column-center w-col w-col-4">
                                            <label class="login-form-label" for="Marital-Status-8">Marital Status</label>
                                            <select class="form-field w-select" data-name="Marital Status 8" id="Marital-Status-8" name="Marital-Status-8">
                                                <option value="Select status">Select status</option>
                                                <option value="Separated">Separated</option>
                                                <option value="Married">Married</option>
                                                <option value="Single">Single</option>
                                                <option value="Widow(er)">Widow(er)</option>
                                            </select>
                                        </div>
                                        <div class="form-column-right w-col w-col-4">
                                            <label class="login-form-label" for="Gender-4">Gender</label>
                                            <select class="form-field w-select" data-name="Gender 4" id="Gender-4" name="Gender-4">
                                                <option value="Select gender">Select gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-4">
                                            <label class="login-form-label" for="ID-Number-4">ID Number</label>
                                            <input class="form-field w-input" data-name="Id Number 4" id="ID-Number-4" maxlength="256" name="ID-Number-4" placeholder="H2300748" type="text">
                                        </div>
                                        <div class="form-column-center w-col w-col-4">
                                            <label class="login-form-label" for="Marital-Status-9">ID type:</label>
                                            <select class="form-field w-select" data-name="Marital Status 9" id="Marital-Status-9" name="Marital-Status-9">
                                                <option value="Select ID type">Select ID type</option>
                                                <option value="Passport">Passport</option>
                                                <option value="Voters Card">Voters Card</option>
                                                <option value="Drivers Licence">Drivers Licence</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-column-right w-col w-col-4">
                                            <label class="login-form-label" for="Next-of-Kin-4">Next of Kin</label>
                                            <input class="form-field w-input" data-name="Next Of Kin 4" id="Next-of-Kin-4" maxlength="256" name="Next-of-Kin-4" placeholder="Zoe Oscarr" type="text">
                                        </div>
                                    </div>
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-6">
                                            <label class="login-form-label" for="Phone-4">Phone number</label>
                                            <input class="form-field w-input" data-name="Phone 4" id="Phone-4" maxlength="256" name="Phone-4" placeholder="Enter your phone number" type="text">
                                        </div>
                                        <div class="form-column-right w-col w-col-6">
                                            <label class="login-form-label" for="Email-5">Email Address:</label>
                                            <input class="form-field w-input" data-name="Email" id="Email-5" maxlength="256" name="Email" placeholder="kojo@oscarr.org" type="email">
                                        </div>
                                    </div>
                                    <label class="login-form-label" for="field-4">Address:</label>
                                    <textarea class="form-field multitext w-input" data-name="Field 4" id="field-4" maxlength="5000" name="field-4" placeholder="Royal Plaza, N4 North, Adenta East, Accra"></textarea>
                                    <div class="spacer"></div>
                                    <div class="form-legend">Employment Details</div>
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-4">
                                            <label class="login-form-label" for="Occupation-4">Occupation</label>
                                            <input class="form-field w-input" data-name="Occupation 4" id="Occupation-4" maxlength="256" name="Occupation-4" placeholder="Happiness Specialist" type="text">
                                        </div>
                                        <div class="form-column-center w-col w-col-4">
                                            <label class="login-form-label" for="Employer-4">Employer</label>
                                            <input class="form-field w-input" data-name="Employer 4" id="Employer-4" maxlength="256" name="Employer-4" placeholder="HODA Holdings" type="text">
                                        </div>
                                        <div class="form-column-right w-col w-col-4">
                                            <label class="login-form-label" for="Position-4">Position</label>
                                            <input class="form-field w-input" data-name="Position 4" id="Position-4" maxlength="256" name="Position-4" placeholder="Chief Happiness Giver" type="text">
                                        </div>
                                    </div>
                                    <input class="button w-button" data-wait="Please wait..." type="submit" value="SAVE">
                                </form>
                                <div class="w-form-done">
                                    <div>Thank you! Your submission has been received!</div>
                                </div>
                                <div class="w-form-fail">
                                    <div>Oops! Something went wrong while submitting the form</div>
                                </div>
                            </div>
                        </div>
                        <div class="transact-tab-pane w-tab-pane" data-w-tab="Submit Claim">
                            <div class="w-form">
                                <p class="section-sub-paragraph">Buy a new insurance policy personally or on behalf of a third-party is simple. Please complete the form below and select policy type to continue.</p>
                                <div class="form-legend">Personal Details</div>
                                <form data-name="Email Form" id="email-form" name="email-form">
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-6">
                                            <label class="login-form-label" for="First-name-4">First name:</label>
                                            <input class="form-field w-input" data-name="First Name 4" id="First-name-4" maxlength="256" name="First-name-4" placeholder="Emmanuel" type="text">
                                        </div>
                                        <div class="form-column-right w-col w-col-6">
                                            <label class="login-form-label" for="Last-name-4">Last name:</label>
                                            <input class="form-field w-input" data-name="Last Name 4" id="Last-name-4" maxlength="256" name="Last-name-4" placeholder="Oscarr" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-4">
                                            <label class="login-form-label" for="Date-of-Birth-4">Date of Birth:</label>
                                            <input class="form-field w-input" data-name="Date Of Birth 4" id="Date-of-Birth-4" maxlength="256" name="Date-of-Birth-4" placeholder="3rd July 1989" type="text">
                                        </div>
                                        <div class="form-column-center w-col w-col-4">
                                            <label class="login-form-label" for="Marital-Status-8">Marital Status</label>
                                            <select class="form-field w-select" data-name="Marital Status 8" id="Marital-Status-8" name="Marital-Status-8">
                                                <option value="Select status">Select status</option>
                                                <option value="Separated">Separated</option>
                                                <option value="Married">Married</option>
                                                <option value="Single">Single</option>
                                                <option value="Widow(er)">Widow(er)</option>
                                            </select>
                                        </div>
                                        <div class="form-column-right w-col w-col-4">
                                            <label class="login-form-label" for="Gender-4">Gender</label>
                                            <select class="form-field w-select" data-name="Gender 4" id="Gender-4" name="Gender-4">
                                                <option value="Select gender">Select gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-4">
                                            <label class="login-form-label" for="ID-Number-4">ID Number</label>
                                            <input class="form-field w-input" data-name="Id Number 4" id="ID-Number-4" maxlength="256" name="ID-Number-4" placeholder="H2300748" type="text">
                                        </div>
                                        <div class="form-column-center w-col w-col-4">
                                            <label class="login-form-label" for="Marital-Status-9">ID type:</label>
                                            <select class="form-field w-select" data-name="Marital Status 9" id="Marital-Status-9" name="Marital-Status-9">
                                                <option value="Select ID type">Select ID type</option>
                                                <option value="Passport">Passport</option>
                                                <option value="Voters Card">Voters Card</option>
                                                <option value="Drivers Licence">Drivers Licence</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-column-right w-col w-col-4">
                                            <label class="login-form-label" for="Next-of-Kin-4">Next of Kin</label>
                                            <input class="form-field w-input" data-name="Next Of Kin 4" id="Next-of-Kin-4" maxlength="256" name="Next-of-Kin-4" placeholder="Zoe Oscarr" type="text">
                                        </div>
                                    </div>
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-6">
                                            <label class="login-form-label" for="Phone-4">Phone number</label>
                                            <input class="form-field w-input" data-name="Phone 4" id="Phone-4" maxlength="256" name="Phone-4" placeholder="Enter your phone number" type="text">
                                        </div>
                                        <div class="form-column-right w-col w-col-6">
                                            <label class="login-form-label" for="Email-5">Email Address:</label>
                                            <input class="form-field w-input" data-name="Email" id="Email-5" maxlength="256" name="Email" placeholder="kojo@oscarr.org" type="email">
                                        </div>
                                    </div>
                                    <label class="login-form-label" for="field-4">Address:</label>
                                    <textarea class="form-field multitext w-input" data-name="Field 4" id="field-4" maxlength="5000" name="field-4" placeholder="Royal Plaza, N4 North, Adenta East, Accra"></textarea>
                                    <div class="spacer"></div>
                                    <div class="form-legend">Employment Details</div>
                                    <div class="w-row">
                                        <div class="form-column-left w-col w-col-4">
                                            <label class="login-form-label" for="Occupation-4">Occupation</label>
                                            <input class="form-field w-input" data-name="Occupation 4" id="Occupation-4" maxlength="256" name="Occupation-4" placeholder="Happiness Specialist" type="text">
                                        </div>
                                        <div class="form-column-center w-col w-col-4">
                                            <label class="login-form-label" for="Employer-4">Employer</label>
                                            <input class="form-field w-input" data-name="Employer 4" id="Employer-4" maxlength="256" name="Employer-4" placeholder="HODA Holdings" type="text">
                                        </div>
                                        <div class="form-column-right w-col w-col-4">
                                            <label class="login-form-label" for="Position-4">Position</label>
                                            <input class="form-field w-input" data-name="Position 4" id="Position-4" maxlength="256" name="Position-4" placeholder="Chief Happiness Giver" type="text">
                                        </div>
                                    </div>
                                    <input class="button w-button" data-wait="Please wait..." type="submit" value="SAVE">
                                </form>
                                <div class="w-form-done">
                                    <div>Thank you! Your submission has been received!</div>
                                </div>
                                <div class="w-form-fail">
                                    <div>Oops! Something went wrong while submitting the form</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear-dashboard-content-wrapper dashboard-version">
                <div class="dash-column-1">
                    <div class="w-embed w-script">
                        <div align="center" style="margin-top: 30px;">
                            <div align="center" style="margin: 0px; padding: 0px; border: 2px solid rgb(136, 136, 136); width: 100%; background-color: fff;">
                                <div align="left" style="width: 100%; border-bottom: 1px solid rgb(136, 136, 136); margin: 0px; padding: 0px; text-align: center; color: rgb(0, 0, 0); background-color: rgb(160, 192, 48);">
                                    <a href="https://fx-rate.net/GHS/" style="text-decoration: none; font-size: 14px; font-weight: bold; text-align: center; color: rgb(0, 0, 0);"><img src="https://fx-rate.net/images/countries/gh.png" style="margin: 0px; alignment: left; padding: 0px; border: none;"> Ghanaian Cedi Exchange Rate</a>
                                </div>
                                <script type="text/javascript" src="https://fx-rate.net/fx-rates2.php?label_name=Ghanaian Cedi Exchange Rate&lab=1&width=215&currency=GHS&cp1_Hex=000000&cp2_Hex=FFFFFF&cp3_Hex=a0c030&hbg=0&flag_code=gh&length=short&label_type=currency_name&cp=000000,FFFFFF,a0c030&lang=en"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-content-wrapper">
                <h4 class="sub-section-header">News Feed</h4>
                <div class="line-separator-holder">
                    <div class="line-separator"></div>
                    <div class="line-separator-thick"></div>
                </div>
                <div class="w-row">
                    <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
                        <a class="news-container w-inline-block" href="#">
                            <img sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 29vw, 12vw" src="~/Content/images/news-3.png" srcset="~/Content/images/news-3-p-500x271.png 500w, ~/Content/images/news-3.png 610w">
                            <h3 class="news-title">Food prices reduce in Accra markets</h3>
                            <p class="news-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </a>
                    </div>
                    <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
                        <a class="news-container w-inline-block" href="#">
                            <img sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 29vw, 12vw" src="~/Content/images/news-3.png" srcset="~/Content/images/news-3-p-500x271.png 500w, ~/Content/images/news-3.png 610w">
                            <h3 class="news-title">Food prices reduce in Accra markets</h3>
                            <p class="news-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </a>
                    </div>
                    <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
                        <a class="news-container w-inline-block" href="#">
                            <img sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 29vw, 12vw" src="~/Content/images/news-3.png" srcset="~/Content/images/news-3-p-500x271.png 500w, ~/Content/images/news-3.png 610w">
                            <h3 class="news-title">Food prices reduce in Accra markets</h3>
                            <p class="news-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </a>
                    </div>
                    <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
                        <a class="news-container w-inline-block" href="#">
                            <img sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 29vw, 12vw" src="~/Content/images/news-3.png" srcset="~/Content/images/news-3-p-500x271.png 500w, ~/Content/images/news-3.png 610w">
                            <h3 class="news-title">Food prices reduce in Accra markets</h3>
                            <p class="news-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </a>
                    </div>
                    <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
                        <a class="news-container w-inline-block" href="#">
                            <img sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 29vw, 12vw" src="~/Content/images/news-3.png" srcset="~/Content/images/news-3-p-500x271.png 500w, ~/Content/images/news-3.png 610w">
                            <h3 class="news-title">Food prices reduce in Accra markets</h3>
                            <p class="news-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </a>
                    </div>
                    <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
                        <a class="news-container w-inline-block" href="#">
                            <img sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 29vw, 12vw" src="~/Content/images/news-3.png" srcset="~/Content/images/news-3-p-500x271.png 500w, ~/Content/images/news-3.png 610w">
                            <h3 class="news-title">Food prices reduce in Accra markets</h3>
                            <p class="news-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script src="js/webflow.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>